
.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-img {
    margin: 20px;
    object-fit: cover;
    height: 700px;
    width: 900px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.return-btn {
    width: 200px;
    height: 30px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border-width: 0.2px;
    border-color: rgba(128, 128, 128, 0);
    background-image: radial-gradient(
      circle at center center,
      rgb(255, 56, 92) 0%,
      rgb(230, 30, 77) 27.5%,
      rgb(227, 28, 95) 40%,
      rgb(215, 4, 102) 57.5%,
      rgb(189, 30, 89) 75%,
      rgb(189, 30, 89) 100%
    );
}
