.spot-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
    width: auto;
    padding: 0% 3.5%;
}

.spot-container {
    display: flex;
    justify-content: flex-end;
    width: 268px;
    height: 350px;
    position: static;
}
