.spot-detail-top-info {
    display: flex;
    flex-direction: column;
}

.spot-detail-rating {
    display: flex;
    width: 420px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.spot-detail-image {
    height: 400px;
    border-radius: 1rem;
    object-fit: cover;
}

.spot-detail-star {
    font-weight: 600;
}

.spot-detail-page {
    margin-left: 80px;
}

.spot-detail-location {
    font-weight: bold;
    text-decoration: underline;
}

.spot-detail-numreview {
    font-weight: bold;
    text-decoration: underline;
}

.circle {
    font-size: 3px;
    display: flex;
    align-items: center;
}

.hosted-by {
    width: 60%;
    box-sizing: border-box;
    margin-top: 30px;
}

.spot-detail-host-info {
    border-top: 0.5px solid black;
    width: 55%;
    display: flex;
    flex-direction: row;
}

.spot-detail-icons {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: space-around;
}

.spot-detail-host-info-words {
    margin-left: 20px;
}

.spot-details-words {
    font-size: 11pt;
    color: grey;
}
