.spot-detail-top-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.spot-name {
    font-size: 26px;
    font-weight: 400;
}

.spot-detail-top-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 59%
}

.spot-detail-rating {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
    font-size: 14px;
}

.spot-detail-img-container {
    width: 100%;
}

.spot-detail-image {
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.spot-detail-bottom {
    width: 59%;
}

.spot-detail-star {
    font-weight: 600;
    margin-right: 10px;
}

.spot-detail-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
}

.spot-detail-location {
    font-weight: bold;
    text-decoration: underline;
}

.spot-detail-numreview {
    font-weight: bold;
    text-decoration: underline;
    margin-right: 10px;
}

.circle {
    font-size: 3px;
    display: flex;
    align-items: center;
}

.spot-circle {
    font-size: 3px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.title-superhost-medal {
    margin-right: 10px;
}

.spot-superhost-top-label {
    margin-right: 10px;
}

.hosted-by {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 30px;
}

.spot-price {
    margin-right: 10px;
}

.spot-price-night {
    display: flex;
    align-items: center;
}

.guests-and-room-info {
    display: flex;
    margin-bottom: 20px;
    font-size: 16px;
}

.spot-night {
    font-size: 18px;
}

.rm-info-input {
    margin-right: 10px;
}

.spot-detail-host-info {
    border-top: 0.05px solid rgba(128, 128, 128, 0.253);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.spot-detail-icons {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: space-around;
}

.spot-detail-host-info-words {
    margin-left: 20px;
}

.spot-details-words {
    font-size: 11pt;
    color: grey;
}

.spot-detail-name {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}


.user-edit-button {
    color: white;
    height: 25px;
    width: 100px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 10px;
  border-width: 0.2px;
  border-color: rgba(128, 128, 128, 0);
    background-image: radial-gradient(
    circle at center center,
    rgb(255, 56, 92) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  );
}

.edit-spot-button-container {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.spot-reviews-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border-top: 0.05px solid rgba(128, 128, 128, 0.253);
}


.spot-description-container {
    border-top: 0.05px solid rgba(128, 128, 128, 0.253);
    margin-bottom: 20px;
    height: auto;
}

.spot-description-body {
    font-size: 16px;
    height: auto;
}
