.booking-content-info {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    align-items: center;
    width: 320px;
    font-size: 18px;
    margin-top: 10px;
}

.create-booking-form {
    width: 390px;
}

.booking-price {
    font-weight: 600;
    font-size: 28px;
}

.booking-info-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.booking-btn-reserve-ctn {
    display: flex;
    justify-content: center;
}

.booking-btn {
    margin-top: 30px;
    width: 300px;
    height: 30px;
    background-color: rgb(222,17,99);
    color: white;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}

.booking-btn:hover {
    cursor: pointer;
    background-color: rgb(255, 44, 128);
}

.disclaimer-booking {
    display: flex;
    justify-content: center;
}

.booking-fees {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 300px;
}

.adjusted-pricing {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.total-price {
    font-weight: 600;
    padding-top: 17px;
    border-top: 1px solid grey;
}
