.spots-layout {
    display: flex;
    justify-content: space-evenly;
    width: 268px;
    height: 350px;
}

.spot-links {
    text-decoration: none;
    color: black;
    height: 350px;
}

.spot-card-container {
    display: flex;
    height: 350px;
    width: auto;
    color: black;
}

.spotImage {
    flex-wrap: wrap;
    object-fit: cover;
    width: 270.16px;
    height: 256.64px;
    border-radius: 12px;
}

.card-top-info-city {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.card-top-info-state {
    display: flex;
    font-weight: bold;
    padding-right: 15px;
}

.avg-rating {
    display: inline-flex;
    padding-left: 7px;
}

.card-bottom-info {
    display: flex;
    justify-content: flex-start;
}

.night-text {
    padding-left: 5px;
}

.spot-card-price {
    font-weight: bold;
}

.spot-card-star {
    margin-left: 25px;
}

.card-top-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
