.spots-layout {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    width: 300px;
}

.spot-links {
    text-decoration: none;
}

.spot-card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    color: black;
}

.spotImage {
    flex-wrap: wrap;
    object-fit: cover;
    width: 270.5px;
    height: 260px;
    border-radius: 12px;
    margin-left: 70px;
    margin-top: 40px;
}

.card-top-info-city {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: 70px;
}

.card-top-info-state {
    display: flex;
    padding-left: 5px;
    padding-right: 0px;
    margin-top: 10px;
    font-weight: bold;
}

.avg-rating {
    display: inline-flex;
    padding-left: 7px;
}

.card-bottom-info {
    display: flex;
    padding-left: 70px;
}

.night-text {
    padding-left: 5px;
}

.spot-card-price {
    font-weight: bold;
}

.spot-card-star {
    margin-left: 25px;
    margin-top: 8px;
}
