/* to do add styling for navigation */
.nav-header {
    border-bottom: 0.5px solid grey;
    height: 100%;
    width: auto;
    display: flex;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    padding: 0% 3.5%;
}

.hidden {
    display: none;
}

.profile-button {
    display: flex;
    width: 77px;
    height: 42px;
    border-radius: 2rem;
    border-width: 0.05px;
    border-color: gray;
    border-style: solid;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    font-weight: lighter;
    position: static;
    cursor: pointer;
    background-color: white;
    color: black
}

.profile-button > i ~ i {
    font-size: 28px;
    color: grey;
}

.nav-logo {
    /* display: flex; */
    height: 42px;
    /* justify-content: flex-start; */
}


.profile-dropdown {
    list-style: none;
    position: fixed;
}

.login-user-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 200px;
    top: 30px;
    right: -52%;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1rem;
    border: 1px solid black;
}

.login-user-dropdown li {
    margin-left: 15px;
}

.login-user-create-spot {
    text-decoration: none;
}


.nav-dropdown {
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 20px;
    margin: 10px;
    font-size: 20px;
    height: 100px;
    width: 200px;
    position: absolute;
    top: 20px;
    right: -80%;
    list-style: none;
}

.login-nav-button {
    width: 100%;
}

.signup-nav-button {
    width: 100%;
}
