.modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
}

#modal-content {
    border-radius: 20px;
}

.welcome-title {
    display: flex;
    justify-content: flex-start;
}

.login-container label{
    display: flex;
    flex-direction: column;
    width: 100%
}

.demo-login-button {
    display: flex;
    cursor: pointer;
    width: 100%;
    border-radius: 1rem;
    height: 34px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
    background-color: rgb(226, 62, 62);
}

.submit-button {
    display: flex;
    width: 100%;
    border-radius: 1rem;
    height: 34px;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 17px;
    background-color: rgb(226, 62, 62);
}

.login-title {
    font-size: 25px;
    font-weight: 600;
    color: rgb(34, 34, 34)
}

.login-container {
    min-height: 35vh;
    min-width: 35vw;
}

.login-input {
    display: flex;
    margin-top: 10px;
    height: 44px;
    font-size: 17px;
}
