.modal {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
}

#modal-content {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 29%;
}

.welcome-title {
  display: flex;
  justify-content: flex-start;
}

.modal-container label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-form-buttons {
  display: flex;
  width: 100%;
  border-radius: 10px;
  border-width: 0.2px;
  height: 44px;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 17px;
  background-color: rgb(243, 26, 109);
}

.login-title {
  font-size: 25px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.modal-container {
  width: 100%;
}

.modal-input {
  display: flex;
  margin-top: 10px;
  width: auto;
  height: 44px;
  font-size: 17px;
  border-radius: 10px;
  border-width: 0.2px;
  border-color: grey;
}

.error-credential {
  list-style: none;
  display: flex;
  position: relative;
  right: 40px;
  top: 20px;
}
