.modal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

#modal-content {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 550px;
}

.welcome-title {
  display: flex;
  justify-content: flex-start;
}

.modal-container label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-form-buttons {
  display: flex;
  width: 100%;
  height: 44px;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  border-width: 0.2px;
  border-color: rgba(128, 128, 128, 0);
  background-image: radial-gradient(
    circle at center center,
    rgb(255, 56, 92) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  );
}

.login-title {
  font-size: 25px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.modal-container {
  width: 100%;
}

.modal-input {
  display: flex;
  margin-top: 10px;
  width: auto;
  height: 44px;
  font-size: 17px;
  border-radius: 8px;
  border-width: 0.2px;
  border-color: rgba(131, 127, 127, 0.349);
}

.error-credential {
  list-style: none;
  display: flex;
}
